* {
  background-color: #D4EE9F;
  color: #AA3939;
  font-family: 'Libre Baskerville', serif;
}

body {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

#images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

#img0, #img1 {
  width: 400px;
  height: 300px;
}

